<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701749699599-gdrvm25u4f2hrqp9142aid9p7523r1mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701749699599-gdrvm25u4f2hrqp9142aid9p7523r1mf</string>
	<key>API_KEY</key>
	<string>AIzaSyAY9U1QiRgyKp-qsfMwNQrO45aRgmsoiTI</string>
	<key>GCM_SENDER_ID</key>
	<string>701749699599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnative.pushdemo</string>
	<key>PROJECT_ID</key>
	<string>pushdemo-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>pushdemo-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701749699599:ios:beada591937516952c6f7a</string>
</dict>
</plist>